<h1>Welcom to {{detailData.fave_title}}'s  page!</h1>
<img src="/images/{{detailData.fave_img}}" alt="animeimage">

<h3>About {{detailData.fave_title}}</h3>
<h5>{{detailData.fave_year}}</h5> 
<p>{{detailData.fave_auth}}</p>
<p>{{detailData.fave_des}}</p>